.head {
    color: blue;
    text-align: center;
    height: 20px;
}

.heading {
    color:white;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: #36303fc9;
    color: white;
    text-align: center;
    padding: 2px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #36303fc9;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    padding: 20px;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rowdies', cursive;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.menu-item {
    width: 300px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: white;
}

.menu-item img {
    max-width: 100%;
}

.price {
    font-weight: bold;
}

button {
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: 'DM Serif Display', serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rowdies', cursive;
    font-size: 20px;
    display: inline;
    text-decoration: none;
}

footer {
    background-color: #36303fc9;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}


body {
    background: #5CA4EA;
}


.mainhead {
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Rowdies', cursive;
    text-align: center;
    padding: 20px;
}

.semhead {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.contact {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#line {
    color: white;
    text-decoration: none;
}

.link {
    display: inline;
    text-decoration: none;
}

* {
    scroll-behavior: smooth;
}


